* {
}
body {
  font-size: 1.5em;
}
#mainNavbar {
  position: sticky;
  top: 110px;
  margin-top: 0;
  padding-bottom: 0;
  z-index: 2;
  order: 1;
}
#mainNavbar nav {
  border: none;
}
#category {
  margin-top: 15px;
  max-width: 40vw;
  z-index: 2;
  order: 2;
}
main {
  order: 3;
}
.productBox img {
  height: 400px;
}
#filterbox {
  z-index: 3;
  right: 7px;
  top: 200px;
}
#bottom {
  order: 4;
}
